@mixin base {
    border: 4px solid black;
}

.avatar {
    @include base;
}

.empty-avatar {
    @include base;
    position: relative;


    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        padding: 5% 20%;

        border-radius: 6px;
        background-color: rgba(180, 180, 180, 0.606);
    }
}
