.form-control {
    display: flex;

    &_reverse-orer {
        flex-direction: row-reverse;
    }

    &__label {
        display: inline-block;
    }

    &__control_full-width {
        width: 100%;
    }
}