.tags-control {
    display: flex;
    gap: 5px;

    padding: 2px 5px;
    box-sizing: border-box;
    border: 2px solid rgb(198, 198, 198);

    overflow: hidden;

    &:hover {
        border-color: black;
    }

    &:focus-within {
        border-color: blue
    }

    &__input {
        outline: 0;
        width: 100%;
    }

    &__tag {
        background-color: rgb(170, 170, 170);
        display: flex;
        align-items: center;
        gap: 5px;
        border-radius: 6px;
        padding: 2px 5px;

        &:hover {
            background-color:  rgb(215, 215, 215);
        }
    }

    &__remove-tag-button {
        display: none;
    }

    &__tag:hover &__remove-tag-button {
        display: inline-block;
        flex-shrink: 0;
        min-width: 16px;

        border-radius: 50%;
        background-color: rgb(148, 148, 148);

        &:hover {
            background-color: rgb(179, 179, 179);
        }
    }
}