.nodthar-ui-kit-input-control {
    outline: 0;
    padding: 2px 5px;
    box-sizing: border-box;
    border: 2px solid rgb(198, 198, 198);

    resize: none;

    &:hover {
        border-color: black;
    }

    &:focus-within {
        border-color: 2px solid blue;
    }

    &:focus {
        border-color: blue;
    }
}